body{
    /* text-align: center; */
    /* background: lightblue; */
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 30%;
    max-width: 500px;
    position: relative;
    left:35%;
    background: white;
    border-radius: 50%;
  }
  .ProfilePic{
  border-radius: 50%;
  }
  .container {
    padding: 2px 16px;
    display: none;
  }