#header{
    position: sticky;
    top:0px;
    left: 0px;
    right: 0px;
    height: 20%;
    width: 100%;
    /* background-color: #a2c523; */
}
#header .logo{
    position: relative;
    top:0px;
    left:0px;
    height: 100%;
    width:20%;
    
}
button{
border-radius: 10px;
background-color: white;
color: black;
border: 2px solid #a2c523;
}
.header-btn{
    position: absolute;
    top:50%;
    right:1%;
    float: right;
}

#side{
    /* font-size: 0%; */
    position: absolute;
    /* background-color: #fed330; */
    left:0px;
    height: 100%;
    width: 13%;
}
#side img {
    position: relative;
    margin-top:10px;
    height:35%;
    width: 35%;
    border-radius: 51%;
    left: 5%;
}

#side button{
    position: absolute;
    height:auto;
    width:auto;
    min-width: 20px;
    max-width: 120px;
    bottom: 25%;
    left:40%;font-size:100%;
    
}
.profile{
    position: relative;
}

.notification{
    position: relative;
}

.settings{
    position: relative;
}

.add{
    position: relative;
}

.logout{
    position: relative;
}




/* About the card  */
.card {
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    
    left:20%;
    /* background: black; */
    display:inline-block;
    height: 25%;
    width: 25%;
    /* background-color: darkgray; */
    padding: 10px;
    /* border: solid #a2c523 2px; */
}


  #workspace{
 display: inline-block;   
}
 

.ProfilePic{
      position: relative;
  border-radius: 50%;
  height: 25% ;
  width: 25%;
  /* display: block; */
  transition:all  1s ;

  }
  .card{

      position: relative;
      width: 25%;
      height: 45%;
    
  }
  .container {
      position:absolute;
    padding: 2px 16px;
    display: none;
  }

 
  /* .card :hover .container{
      display: block;

  } */
  .ProfilePic:hover {
    border-radius: 0px;}
  .ProfilePic:hover + .container{
      border-radius: 0px;
    display: block;
    position: relative;
  }

@media only screen  and (max-width:900px){
body{
/* background-color:blue; */
}
.card{
    position: relative;
    left:20%;
    height: 45%;
    width: 35%;
}
#side button{display: none;}
#side img {
    position: relative;
    margin-top:10px;
    height:60%;
    width: 60%;
    border-radius: 51%;
    left: 20%;
}

.card .ProfilePic{
position: static;
border-radius: 50%;
min-width: 50%;
min-height:50% ;
height: 50% ;
width: 50%;
display: block;
transition:all  1s ;

}
.ProfilePic:hover {
    border-radius: 0px;}
}
@media only screen  and (max-width:450px){
    body{
    /* background-color:blue; */
    }
    .card{
        position: relative;
        left:20%;
        height: 90%;
        width: 80%;
    }
    #side button{display: none;}
    #side img {
        position: relative;
        margin-top:10px;
        height:80%;
        width: 80%;
        border-radius: 51%;
        left: 20%;
    }
    
    .card .ProfilePic{
    position: static;
    border-radius: 50%;
    min-width: 50%;
    min-height:50% ;
    height: 50% ;
    width: 50%;
    display: block;
    transition:all  1s ;
    
    }
    .ProfilePic:hover {
        border-radius: 0px;}
    }
