
body{
    text-align: center;
    background:lightblue;

}
.button{
    text-align: right;
}
.button button{
    text-align: right;
}
.button h1{
    text-align: left;
}
.container{
    background:lightblue;
}
.sadDogimg{
    width: 500px;
    height: 300px;
    border-radius: 25px;
}
.happyDogimg{
    width: 500px;
    height:300px;
    border-radius: 25px;
}
button{
    color:black;
    background-color:wheat;
    padding: 14px 20px;
    font-size: 16px;
}
