
body{
    text-align: center;
    width: 200;
    background: url(background.jpg);
    background-repeat: no-repeat;
}
.imgfrontPage{
    width: 1200;
    height:1000px;
}
button{
    color:black;
    background-color: white;
    padding: 14px 20px;
    font-size: 16px;
    background-position: center; 
}
